div{
    margin: 20rem;
    display: flex;
    justify-content: center;
}
form{
    background-color: #ffffff;
    display: flex;
    border: 5px solid black;
    border-radius: 50px;
    justify-content: center;
    gap: 10px;
    width: 500px;
}
button{
    margin: 5px;
    width: 5rem;
}